.jumbotron {
    background-image: url("https://c.pxhere.com/photos/36/a0/apple_desk_laptop_learning_macbook_school_sheet_of_paper_technology-929361.jpg!d");
    background-size: cover;
    height: 600px;
    text-align: center;
    margin-top: -120px;
}
.jumbotron .display-4 {
    color: white;
    margin-top: 200px;
}
.jumbotron p {
    color: white;
}
.jumbotron hr {
    border-color: gray;
    width: 70px;
    border-width: 3px;
}
.jumbotron .btn {
    background-color: gray;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
}
